* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(118.29deg, #CFC6FF -1.86%, #AA9CF0 55.59%, #DCD7F7 102.19%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}
